<div class="popup-alerts-wrapper" data-hash="{{ hash }}" data-expire="{{ expire }}">
	<div class="popup-alerts-window">
		<div class="popup-alerts-closer">❌</div>
		<div class="popup-alerts-header"></div>
		<div class="popup-alerts-content">
			{{& content }}
		</div>
		<div class="popup-alerts-subtitle">{{ days }}</div>
	</div>
</div>

